*,
*::after,
*::before{
    box-sizing: border-box;
}
:root{
    font-size: 1em;
    --shadow-human:2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
@font-face{
    font-family: "label";
    src: url("DMMono-Italic.ttf");
}
@font-face{
    font-family: "main-font";
    src: url("Roboto-Italic.ttf");
}
body{
    box-sizing: inherit;
    margin: 5vw;
    font-size: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(145deg, rgba(0,0,0,1) 10%, rgba(129,0,0,1) 40%, rgba(255,0,0,1) 78%, rgba(255,49,49,1) 99%);
}
.cointainer{
    border: 3px solid #000;
    border-radius: 2em;
    background-color: #fff;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    font-family: "main-font";
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .2em;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 5fr ;
    grid-template-areas:"label label"
                        "human menu";
}
.label{
    font-family: "label";
    grid-area: label;
    font-size: 1.4em;
    margin-left: 1em;
}
.human{
    grid-area: human;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:"head"
                        "body"
                        "leg";
    margin-left: .5em;
}
.human-head{
    background-image: url("head.png");
    background-repeat: no-repeat;
}
.human-body{
    background-image: url("body.png");
    background-repeat: no-repeat;
    margin-top: -1.5em;
}
.human-leg{
    background-image: url("legs.png");
    background-repeat: no-repeat;
    margin-top: -2em;
}
.label-human{
    color: black;
    font-size: 2em;
    margin-left: 1em;
}
.label-head{
    text-shadow: var(--shadow-human);
    color: #fff;
}
.label-body{
    text-shadow: var(--shadow-human);
    color: #fff;
}
.label-leg{
    text-shadow: var(--shadow-human);
    color: #fff;
}
.strong-valorant{
    font-size: 1.2em;
}
/*==============menu==============*/
.form{
    grid-area: menu;
    margin-top: 1em;
}
ol{
    list-style-type:none ;
    padding: 0;
    margin: 0;
    font-size: 1em;
    height: 2em;
    line-height: 3em;
    text-align: center;
    display: grid;
    grid-template-areas:"one two three"
                        "four five six";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-row-gap: .5em;
}
.li-pistol {
    grid-area: one;
}
.li-pm{
    grid-area: two;
}
.li-rifle{
    grid-area: three;
} 
.li-sniper{
    grid-area: four;
}  
.li-schothun{
    grid-area: five;
}  
.li-heavy{
    grid-area: six;
}
ol > li {
    background-color: #1a53ff;
    color:#fff;
    font-size: .9em;
}
ol > li > ul{
    list-style-type:none ;
    padding: 0;
    margin: 0;
}
ol > li{
    float: left;
    background-color:#FDD700;
    width:15vw;
    margin-left:1px;
    transition: all .35s linear;
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -ms-transition: all .35s linear;
    -o-transition: all .35s linear;
    border: 2px solid #fff;
}
ol > li > ul > li > a {
    border-top:1px solid #FFF;
}
  ol > li > ul > li {
    background-color:#EEE;
    color: #7f7fff;
    width:10em;
    height: 3.1em;
    font-size: .65em;
}
  ol > li > ul > li:hover {
    background-color:#DDD;
    color: #3333ff;
}
  ol > li > ul > li > a:hover {
    color:#09C;
}
ol > a {
    display: block;
    color: #000;
    text-decoration: none;
    padding:.4em;
}
ol > li > a:hover{
    color: #fff;
}
ol > li:hover{
    background-color: #4d79ff;
}
ol > li > ul {
    display:none;
}
ol > li:hover > ul {
    display:block;
}
/*============RWD============*/
@media(min-width:768px){
    body{
        font-size: 1.5em;
    }
   
   
}
@media(min-width:1025px){
body{
    font-size: 2em;
    margin: 1em 5em;
}
}
